
    footer {
    width: 100vw;
    box-sizing: border-box;  /* padding não aumenta a largura */
    margin-top: auto;    
    background-color: rgb(245, 245, 245);
    padding: 40px;
    }
    
    .footer-pai {
    display: flex;              
    justify-content: space-between;
    gap: 20px;
    }
    
    .footer-coluna {
    display: flex;
    flex-direction: column;     
    gap: 8px;
    }
    
    .footer-coluna h4 {
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #222;
    margin-bottom: 20px;
    }
    
    .footer-coluna a {
    display: flex;     
    flex-direction: row;
    align-items: center; 
    font-size: 12px;
    gap: 8px;
    color: #888;
    text-decoration: none;
    
    }
    
    .pagamentos {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;            /* quebra linha se não couber */
    gap: 3px;
    }
    
    .footer-coluna i{  
    font-size: 25px;
    color: #000000;
    }
    
    .apps {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 8px;
    }
    
    .footer-rodape {
    border-top: 1px solid #c4bebe;  /* cria linha */
    margin-top: 32px;
    padding-top: 16px;
    text-align: center;
    font-size: 15x;
    color: #585555;
    }
    
    
    
    