*{
margin: 0; 
padding: 0;
}
body{
    
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(251, 86, 48);;
display: flex;
flex-direction: column;
align-items: center;
min-height: 100vh;        /* garante que o body ocupa a tela toda */
   
}
.login{
margin-top: 20px;
width: 450px;
height: 600px;
background-color: #fff;
border-radius: 10px;
margin-bottom: 20px;
}

.login-dentro{
padding: 40px 40px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;    
}

.login-dentro h2{
font-size: 26px;
font-weight: 200;
margin-bottom: 40px;
}

form{
display:flex;
flex-direction: column;
gap: 50px;
}

form h3{
display: flex;
justify-content: center;
}

.campo{
display: flex;
flex-direction: column;

}

.campo input{
padding: 15px 14px; 

border: 1px solid #ddd;
}

.links{
margin-top: -20px;
display: flex;
justify-content: space-between;
margin-bottom: -30px;
}
.links a{
font-size: 15px;
color: rgb(4, 155, 215);
text-decoration: none;
}

.divisor {
  display: flex;
  align-items: center;
  color: #aaa;
  font-size: 13px;
}

button[type="button"]
{
    font-size: 15px;
    padding: 10px;
    width: 100%;
    background-color: rgb(251, 86, 48);
    color: #f0ece4;
    text-transform: uppercase;
     
}

.redes-sociais-primaria{

display: flex;
flex-direction: row;
justify-content: space-between;
gap: 8px; 
}

.redes-sociais {
display: flex;          
align-items: center;    
margin-top: -30px;
border: 1px solid #ddd;
border-radius: 6px; 
padding: 10px 16px;
font-size: 14px;
gap: 6px;
}

.cadastro{
margin-top: -20px;
display: flex;
justify-content: center;
}
.cadastro a{
color: rgb(251, 86, 48);
text-decoration: none;
}
.cadastro p{
color: rgb(195, 195, 195)
}
